{% block head %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title%}Secureption{%endblock%}</title>
  <link rel="icon" type="image" href="{{ url_for('static', filename='img/icon.jpg') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='/style/style.css')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename='/style/about.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='/style/encrypt.css')}}">
   <link rel="stylesheet" href="{{url_for('static',filename='/style/instruction.css')}}">

</head>
{%endblock%}
<body>
  <nav>
    <h2>Secureption</h2>
    <ul class="navbar">
      <li class="nav1" onclick="Home()">Home</li>
      <li class="nav1" onclick="about()">About</li>
    
    </ul>
  </nav>
  {%block content %}
  {%endblock%}

<script src="{{url_for('static',filename='/js/script.js')}}"></script>
</body>