<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secureption </title>         
<link rel="icon" type="image" href="{{ url_for('static', filename='img/Icon.png') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
    <nav>
    <h2>Secureption</h2>
    <ul class="navbar">
        <li class="nav1">Home</li>
        <li class="nav1">About</li>
        <li class="nav1">PSA</li>
    </ul>
</nav>
<div id="cont">
    <a href=""><img src="./" alt="encryption"></a>
    <br>
    <a href=""><img src="" alt="decryption"></a>
</div>
</body>
</html>