
<!DOCTYPE html>
<html lang="en">
{% include 'head.html'%}

<body>
 <!-- Main Container -->
  <div id="cont">

    <!-- Horizontal image layout -->
    <div class="image-row">
      <!-- Encryption -->
      <div class="section">
        <a href="#"><img src="static/img/encryption.png" alt="encryption" id="img1"></a>
        <button class="action-btn " onclick="encrypt()">Encrypt</button>
      </div>

      <!-- Decryption -->
      <div class="section">
        <a href="#"><img src="static/img/decryption.png" alt="decryption" id="img2"></a>
        <button class="action-btn" onclick="decrypt()">Decrypt</button>
      </div>
    </div>

    <!-- Instruction Button -->
    <div class="instruction-btn-container">
      <button   class="instruction-btn" onclick="redirectto()">Instructions</button>
    </div>
  </div>
  

</body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</html>

